{% block body %}
<form method="post">
    {% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
    <div class="mb-3">
        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
    </div>
    {% endif %}

    <div class="offcanvas offcanvas-end" tabindex="-1" id="formulaireConnexion" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel">Formulaire de connexion</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <form class="p-5 m-2" id="loginConnexion">
                <div class="mb-3">
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                        autocomplete="email" required autofocus>
                </div>
                <div class="mb-3">
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control"
                        autocomplete="current-password" required>
                </div>
                <button class="btn btn-secondary" type="submit">Se connecter</button>
                <div id="inscriptionButton" class="form-text" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#formulaireInscription">Pas encore de compte? S'inscrire ici</div>
            </form>
        </div>
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me"> Remember me
        </label>
    </div>

    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
</form>
{% endblock %}
{# {{ include('registration/register.html.twig') }} #}