    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
	
	{{ form_errors(registrationForm) }}
	
<div class="offcanvas offcanvas-end" tabindex="-1" id="formulaireInscription" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">Formulaire d'inscription</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"
      name="close"></button>
  </div>
  <div class="offcanvas-body">
    <form class="p-5 m-2" style="background-color: white; border-radius: 10px;" id="inscriptionForm" method="post" onsubmit="return addAccount();"
      >
      <!-- action="index.php?action=inscription" -->
	  {{ form_start(registrationForm) }}
      <div class="mb-3">
        <label for="pseudo" class="form-label">Prénom</label>
        <input type="text" class="form-control" name="firstname" aria-describedby="prénom"
          placeholder="Ecrivez votre prénom" required="required">
      </div>
      <div class="mb-3">
        {{ form_row(registrationForm.firstName) }}
      </div>
	  <div class="mb-3">
        {{ form_row(registrationForm.lastName) }}
      </div>
      <div class="mb-3">
        {{ form_row(registrationForm.email) }}
      </div>
	  <div class="mb-3">
        {{ form_row(registrationForm.phone) }}
      </div>
      <div class="mb-3">
        {{ form_row(registrationForm.createdAt) }}
      </div>
      <div class="mb-3">
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
      </div>
	  <div class="mb-3">
        {{ form_row(registrationForm.agreeTerms) }}
      </div>
      <button id="inscription" type="submit" class="btn btn-secondary">S'inscrire</button>
      <div id="inscriptionButton" class="form-text" type="button" data-bs-toggle="offcanvas" data-bs-target="#formulaireConnexion">Déjà inscrit? Se connecter ici</div>
    </form>
  </div>
</div>
{{ form_end(registrationForm) }}

    
        
        
        
        
        

    
