{% extends 'base.html.twig' %}

{% block header %}
<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 rounded p-3 opacity-100 d-flex align-items-center shadow bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div id="carouselArticle" class="carousel carousel-dark slide shadow-sm"
                            data-bs-ride="carousel">

                            <!-- The slideshow/carousel -->
                            <div class="carousel-inner">
                                {% for i in image  %}
                                <div class="carousel-item active rounded" style="max-height: 25rem;">
                                    <img src="/img/articles/{{ i.visualName }}" alt="image " class="d-block w-100"
                                        style="height: 100%; object-fit: cover;">
                                </div>
                                {% endfor %}
                            </div>
                            <div>
                            </div>
                            
                            <!-- Left and right controls/icons -->
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselArticle"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselArticle"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </button>
                </div>
                {# {{ article.visuals.first('visualName') }}
                <img src="/img/articles/{{ article.visuals.first('visualName') }}" alt="image " class="d-block w-100"
                    style="height: 100%; object-fit: cover;"> #}
                    </div>
                    <div class="col-md-8">
                        <div class="text-center">
                            <p class="display-3 fw-bolder">
                                {{ article.title }}
                            </p>
                            <p>
                                {{ article.content }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row ">
                    <div class="d-flex justify-content-end">
                        {% if comments|length <1 %} <p>Il n'existe aucun commentaire pour cet article</p>
                            {% elseif comments|length == 1 %}
                            {{ comments|length }} Commentaire
                            {% else %}
                            {{ comments|length }} Commentaires
                            {% endif %}
                    </div>
                </div>

                {% if is_granted('ROLE_USER') %}
                <div class="row">
                    {{ form(form) }}
                </div>
                {% endif %}

                <div class="row mt-5 d-flex justify-content-evenly">
                    {% for comment in comments %}
                    <div class="col-md-3 rounder bg-light m-3 shadow">
                        <p>
                            <small class="text-muted">
                                "{{ comment.content }}"
                            </small>
                        </p>
                        <p class="text-end">
                            <small class="text-muted">
                                Par {{ comment.users.pseudo }} le {{ comment.createdAt|date('d/m/Y') }} à {{
                                comment.createdAt|date('H:i') }}
                            </small>
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>

</div>

{% endblock %}

{% block body %}
{% endblock %}